.portlet-dialog-header-bg,
.portlet-dialog-footer-bg {
    background-image: url( "img/portlet-dialog-blue.png" );
}

.portlet-dialog-sides-bg {
    background-image: url( "img/portlet-dialog-sides-blue.png" );
}

.portlet-title-header-bg {
    background-image: url( "img/portlet-caption-blue.gif" );
}

.portlet-dialog-content {
    background-color: #dae7f6;
}

.portlet-dialog-content-body {
    border: 1px solid #99bbe8;
}

.portlet-dialog-buttonbar {
    background-color: #dae7f6;
}

.portlet-title-body {
    border-left: 1px solid #99bbe8;
    border-right: 1px solid #99bbe8;
    border-bottom: 1px solid #99bbe8;
}
